.app__checkout {
  margin-top: 2rem;
  padding: 0 8rem;
}

.app__checkout .checkout-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 3rem;
}

.app__checkout .sub-text {
  color: gray;
}

.app__checkout .horizontal-line {
  border-color: gainsboro;
}

.app__checkout .grid-item {
  border: 2px gainsboro solid;
  border-radius: 12px;
  padding: 1rem;
}

.product-info .img-container {
  max-height: 8rem;
  width: 7rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 16px;
}

.product-info img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-info .item-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
}

.product-info h3 {
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  clear: both;
  text-overflow: ellipsis;
}

form input {
  width: 100%;
}

form input {
  padding: 0.4rem 1rem;
  border: 1px solid gray;
  border-radius: 8px;
}

.checkout-grid .order-summary-contain {
  grid-column: 2;
  grid-row: 1/3;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.order-summary-contain .amount-desc {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.grid-item .coupon-container {
  background-color: gainsboro;
  width: max-content;
  padding: 0.3rem;
  border-radius: 20px;
  overflow: hidden;
}

.grid-item .delivery-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.coupon-container input {
  border: 0;
  background-color: transparent;
  height: 100%;
}

.coupon-container input:focus {
  outline: none;
}

.coupon-container button {
  background-color: var(--color-text);
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 20px;
}

form button {
  color: var(--color-text);
  background-color: white;
  transition: 0.2s linear;
  margin-top: 1rem;
}

form button:hover {
  color: var(--color-accent);
  background-color: var(--color-text);
}

@media screen and (max-width: 1350px) {
  .app__checkout {
    padding: 2rem 2rem;
  }

  .app__checkout .checkout-grid {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .app__checkout {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 950px) {
  .app__checkout .product-info {
    grid-column: 1 / 3;
  }

  .checkout-grid .order-summary-contain {
    grid-column: 2;
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 700px) {
  .app__checkout .checkout-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .app__checkout .product-info {
    grid-column: 1;
  }

  .checkout-grid .order-summary-contain {
    grid-column: 1;
    grid-row: 3;
  }
}
