.product-card,
.product-card a {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0.5rem 0;
}

.product-card a {
  padding: 0.5rem;
  color: black;
}

.product-card:hover {
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  cursor: pointer;
}

.product-card button {
  transition: 0.2s linear;
}

.product-card button:hover {
  background-color: var(--color-text);
  color: white;
}

.product-details {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
